@model IEnumerable<ICI.ProvaCandidato.Dados.Usuario>
@{
    ViewData["Title"] = "Usuários";
}

<h2>Tags</h2>

<table id="usuariosTable" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Nome</td>
                <td>@item.Email</td>
            </tr>
        }
    </tbody>
</table>
